.care{
	display: flex;
	flex-wrap: wrap;
}

.care_section{
	background: #ffe885;
	width: 45%;
	margin: 2.5%;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.01);
	text-align: center;
	padding:15px;
}

.care_section:hover{
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
	cursor: pointer;
}